.company-card {
    border: 2px solid  #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    transition: transform 0.3s;
    width: 250px;
    height: 40%;

}

.company-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.company-card.featured {
    border-left: 5px solid rgb(32, 118, 124);
    background-color: #f0fff4 
}

.company-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.industry {
    color: #5a6c6d;
    font-size: 15px;
}

.company-info {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    font-size: 15px;
}

.badge {
    display: inline-block;
    background-color:  rgb(32, 118, 124);
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.company-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: rgb(12, 104, 104);
}


